#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>

#define ___ &trans

#define L_DEFAULT 0
#define L_QWERTY 1
#define L_GAME_L 2
#define L_NP 3
#define L_FN 4
#define L_MOD 9

#define U_MOUSE_MOVE_MAX 600
#define U_MOUSE_SCROLL_MAX 10

#define U_MB_L &mb LCLK
#define U_MB_R &mb RCLK
#define U_MB_M &mb MCLK
#define U_MB_1 &mb MB1
#define U_MB_2 &mb MB2
#define U_MB_3 &mb MB3
#define U_MB_4 &mb MB4
#define U_MB_5 &mb MB5

#define U_BTN1 &mkp MB1
#define U_BTN2 &mkp MB2
#define U_BTN3 &mkp MB3
#define U_BTN4 &mkp MB4
#define U_BTN5 &mkp MB5

#define U_MS_D &mmv MOVE_DOWN
#define U_MS_L &mmv MOVE_LEFT
#define U_MS_R &mmv MOVE_RIGHT
#define U_MS_U &mmv MOVE_UP

#define U_WH_D &msc SCRL_DOWN
#define U_WH_L &msc SCRL_LEFT
#define U_WH_R &msc SCRL_RIGHT
#define U_WH_U &msc SCRL_UP

/ {
    behaviors {
        #include "macros.dtsi"
        #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        mkp: mouse_button {
            compatible = "zmk,behavior-mouse-key-press";
            label = "MouseButton";
            #binding-cells = <1>;
        };

        htp: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HoldTap";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <125>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <70 69 66 65>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp GRAVE  &kp N1    &kp N2     &kp N3    &kp N4     &kp N5  &tog L_NP                                                     &mo L_MOD  &kp N6  &kp N7    &kp N8  &kp N9    &kp N0    &kp EQUAL
&kp TAB    &kp APOS  &kp COMMA  &kp DOT   &kp P      &kp Y   &tog L_QWERTY                                                 &mo L_NP   &kp F   &kp G     &kp C   &kp R     &kp L     &kp FSLH
&kp LCTRL  &kp A     &kp O      &kp E     &kp U      &kp I   &tog L_GAME_L  &kp LGUI  &kp LALT       &kp HOME   &kp END    &none      &kp D   &kp H     &kp T   &kp N     &kp S     &kp MINUS
&kp LSHFT  &kp SEMI  &kp Q      &kp J     &kp K      &kp X                            &kp RCTRL      &kp PG_UP                        &kp B   &kp M     &kp W   &kp V     &kp Z     &kp RSHFT
&mo L_FN   &kp CAPS  &kp BSLH   &kp LEFT  &kp RIGHT          &kp BSPC       &kp DEL   &kp ESC        &kp PG_DN  &kp ENTER  &kp SPACE          &kp DOWN  &kp UP  &kp LBKT  &kp RBKT  &mo L_FN
            >;
        };

        Qwerty {
            bindings = <
&kp EQUAL  &kp N1         &kp N2     &kp N3  &kp N4  &kp N5  ___                                         ___     &kp N6  &kp N7  &kp N8     &kp N9   &kp N0    &kp MINUS
___        &kp Q          &kp W      &kp E   &kp R   &kp T   ___                                         ___     &kp Y   &kp U   &kp I      &kp O    &kp P     &kp BSLH
___        &kp A          &kp S      &kp D   &kp F   &kp G   ___     ___     ___         ___     ___     ___     &kp H   &kp J   &kp K      &kp L    &kp SEMI  &kp APOS
___        &kp Z          &kp X      &kp C   &kp V   &kp B                   ___         ___                     &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  ___
___        &kp BACKSLASH  &kp GRAVE  ___     ___             ___     ___     ___         ___     ___     ___             ___     ___        ___      ___       ___
            >;
        };

        Gaming_Left {
            bindings = <
___     ___       ___      ___     ___     ___     ___                                               ___     ___     ___     ___        ___      ___        ___
___     &kp T     &kp Q    &kp W   &kp E   &kp R   ___                                               ___     &kp U   &kp I   &kp O      &kp P    &kp MINUS  ___
___     &kp G     &kp A    &kp S   &kp D   &kp F   ___        ___        ___         ___     ___     ___     &kp H   &kp J   &kp K      &kp L    &kp SEMI   ___
___     &kp B     &kp Z    &kp X   &kp C   &kp V                         ___         ___                     &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH   ___
___     &kp BSPC  &kp DEL  ___     ___             &kp SPACE  &kp ENTER  ___         ___     ___     ___             ___     ___        ___      ___        ___
            >;
        };

        NumberPad {
            display-name = "Np";
            bindings = <
___     &kp GRAVE   &kp APOS   &kp SEMI   &kp MINUS  &kp EQUAL  ___                                           &mo L_MOD  &none  &kp KP_NUM  &kp KP_MULTIPLY  &kp KP_DIVIDE  &kp KP_EQUAL  ___
___     &kp AMPS    &kp ASTRK  &kp SLASH  &kp LPAR   &kp RPAR   &none                                         ___        &none  &kp KP_N7   &kp KP_N8        &kp KP_N9      &kp KP_MINUS  ___
___     &kp DOLLAR  &kp PRCNT  &kp CARET  &kp LBKT   &kp RBKT   &none   ___     ___         ___     ___       &none      &none  &kp KP_N4   &kp KP_N5        &kp KP_N6      &kp KP_PLUS   ___
___     &kp EXCL    &kp AT     &kp HASH   &kp LBRC   &kp RBRC                   ___         ___                          &none  &kp KP_N1   &kp KP_N2        &kp KP_N3      &kp KP_ENTER  ___
___     ___         ___        ___        ___                   ___     ___     ___         ___     &kp BSPC  &kp KP_N0         ___         ___              &kp KP_DOT     &kp KP_ENTER  ___
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2    &kp F3          &kp F4          &kp F5           &kp F6           &tog L_NP                                      &mo L_MOD   &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
___     &mb MCLK  &mb RCLK        &mmv MOVE_UP    &mb LCLK         &msc SCRL_UP     &none                                          &none       ___     ___     ___     ___      ___      ___
___     &none     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN   &none      ___     ___         ___     ___     &none       ___     ___     ___     ___      ___      ___
___     &mb MB4   &mb MB5         &none           &msc SCRL_LEFT   &msc SCRL_RIGHT                     ___         ___                         ___     ___     ___     ___      ___      ___
___     &none     &none           ___             ___                               ___        ___     ___         ___     ___     ___                 ___     ___     ___      ___      ___
            >;
        };

        layer_5 {
            bindings = <
___     ___     ___     ___     ___     ___     ___                                         ___     ___     ___     ___     ___     ___     ___
___     ___     ___     ___     ___     ___     ___                                         ___     ___     ___     ___     ___     ___     ___
___     ___     ___     ___     ___     ___     ___     ___     ___         ___     ___     ___     ___     ___     ___     ___     ___     ___
___     ___     ___     ___     ___     ___                     ___         ___                     ___     ___     ___     ___     ___     ___
___     ___     ___     ___     ___             ___     ___     ___         ___     ___     ___             ___     ___     ___     ___     ___
            >;
        };

        layer_6 {
            bindings = <
___     ___     ___     ___     ___     ___     ___                                         ___     ___     ___     ___     ___     ___     ___
___     ___     ___     ___     ___     ___     ___                                         ___     ___     ___     ___     ___     ___     ___
___     ___     ___     ___     ___     ___     ___     ___     ___         ___     ___     ___     ___     ___     ___     ___     ___     ___
___     ___     ___     ___     ___     ___                     ___         ___                     ___     ___     ___     ___     ___     ___
___     ___     ___     ___     ___             ___     ___     ___         ___     ___     ___             ___     ___     ___     ___     ___
            >;
        };

        layer_7 {
            bindings = <
___     ___     ___     ___     ___     ___     ___                                         ___     ___     ___     ___     ___     ___     ___
___     ___     ___     ___     ___     ___     ___                                         ___     ___     ___     ___     ___     ___     ___
___     ___     ___     ___     ___     ___     ___     ___     ___         ___     ___     ___     ___     ___     ___     ___     ___     ___
___     ___     ___     ___     ___     ___                     ___         ___                     ___     ___     ___     ___     ___     ___
___     ___     ___     ___     ___             ___     ___     ___         ___     ___     ___             ___     ___     ___     ___     ___
            >;
        };

        layer_8 {
            bindings = <
&kp GRAVE  &kp N1    &kp N2     &kp N3    &kp N4     &kp N5  &tog L_NP                                                   &mo L_MOD  &kp N6  &kp N7    &kp N8  &kp N9    &kp N0    &kp EQUAL
&kp TAB    &kp APOS  &kp COMMA  &kp DOT   &kp P      &kp Y   ___                                                         ___        &kp F   &kp G     &kp C   &kp R     &kp L     &kp FSLH
&kp LCTRL  &kp A     &kp O      &kp E     &kp U      &kp I   ___          &kp LGUI  &kp LALT       &kp HOME   &kp END    ___        &kp D   &kp H     &kp T   &kp N     &kp S     &kp MINUS
&kp LSHFT  &kp SEMI  &kp Q      &kp J     &kp K      &kp X                          &kp RCTRL      &kp PG_UP                        &kp B   &kp M     &kp W   &kp V     &kp Z     &kp RSHFT
&mo L_FN   &kp BSLH  &kp CAPS   &kp LEFT  &kp RIGHT          &kp BSPC     &kp DEL   &kp ESC        &kp PG_DN  &kp ENTER  &kp SPACE          &kp DOWN  &kp UP  &kp LBKT  &kp RBKT  &mo L_FN
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                                       ___           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none
&none           &none         &none         &none         &none         &none         &bootloader                                                                 &bootloader   &none         &none         &none         &none         &none         &none
&studio_unlock  &none         &none         &none         &none         &none         &stp STP_BAT  &bt BT_CLR       &bt BT_CLR      &bt BT_CLR  &bt BT_CLR       &stp STP_BAT  &none         &none         &none         &none         &none         &none
&none           &none         &none         &none         &macro_ver    &none                                        &none           &none                                      &none         &none         &none         &none         &none         &none
&none           &none         &none         &bl BL_INC    &bl BL_DEC                  &bl BL_TOG    &rgb_ug RGB_TOG  &none           &none       &rgb_ug RGB_TOG  &bl BL_TOG                  &bl BL_DEC    &bl BL_INC    &none         &none         &none
            >;
        };

    };
};
